<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<!-- Currently not working rules:
	<dict>
		<key>TCPSmartPorts</key>
		<array>
			<string>org.m0k.transmission</string>
			<string>BindPort</string>
		</array>
		<key>Title</key>
		<string>Transmission</string>
	</dict>
	<dict>
		<key>TCPSmartPorts</key>
		<array>
		</array>
		<key>Title</key>
		<string>ShakesPeer</string>
	</dict>
-->
	<dict>
		<key>Title</key>
		<string>Web Server (HTTP)</string>
		<key>TCPPorts</key>
		<string>80</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Remote Login (SSH)</string>
		<key>TCPPorts</key>
		<string>22</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>iChat AV</string>
		<key>TCPPorts</key>
		<string>5298,5297</string>
		<key>UDPPorts</key>
		<string>5298,5297,5678,5060,16384-16403</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>iTunes Music Sharing (DAAP)</string>
		<key>TCPPorts</key>
		<string>3689</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AppleShare (AFP)</string>
		<key>TCPPorts</key>
		<string>548</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>FTP Server</string>
		<key>TCPPorts</key>
		<string>21</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Bonjour (mDNS)</string>
		<key>TCPPorts</key>
		<string>5354</string>
		<key>UDPPorts</key>
		<string>5353</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Windows Sharing</string>
		<key>TCPPorts</key>
		<string>139</string>
		<key>UDPPorts</key>
		<string>138</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Printer Sharing</string>
		<key>TCPPorts</key>
		<string>515,631</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Apple Remote Desktop</string>
		<key>TCPPorts</key>
		<string>3283,5900,5988</string>
		<key>UDPPorts</key>
		<string>3283</string>
	</dict>
</array>
</plist>
